# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.
Please read the following carefully and return to us if there's a problem.

**Objectives:**
- Python
- R
- SQL
- C++

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. C++
5. Java

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Scikit-learn
4. SciPy
5. Matplotlib

| Data Science Tools |
| ------------|
| Jupyter Notebook |
| Visual Studio |
| R studio |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Hager Khairallah